<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оглавление</title>
</head>
<body>
    <h1>Оглавление</h1>
    <ul>
        <li>Присказка. Владислав Иванович, сын Ивана Быковича <button>Читать</button> </li>
        <li>Глава 1. На работе лучше вдвоём <button>Читать</button></li>
        <li>Глава 2. Новые знакомства из старых времён <button>Читать</button></li>
        <li>Глава 3. И в метро нечисть водится <button>Читать</button></li>
        <li>Глава ожидается</li>
    </ul>

<a href="http://127.0.0.1:8000/"><button>Вернуться обратно</button></a>

</body>
</html>